@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Breakpoint Variables
$breakpoint-xs-max: 575.98px;
$breakpoint-sm-min: 576px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 992px;
$breakpoint-xl-min: 1200px;
$breakpoint-xxl-min: 1440px;

// Mixin for Breakpoints
@mixin respond-to($breakpoint) {
  @if $breakpoint == xs-max {
    @media (max-width: $breakpoint-xs-max) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (min-width: $breakpoint-sm-min) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md-min) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg-min) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl-min) {
      @content;
    }
  } @else if $breakpoint == xxl {
    @media (min-width: $breakpoint-xxl-min) {
      @content;
    }
  }
}

// style
body {
  font-family: "Kanit", sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.heading-text {
  font-size: 3rem;
  font-weight: 500;
}

.text {
  font-size: 1rem;
  color: darkgray;
  font-weight: 300;
}

// responsive

@include respond-to(lg) {
  .heading-text {
    font-size: 4rem;
  }
}
